/* Mobile and Tablet */
@media(max-width:1023px){
    .mobile-category{
        display: block;
    }
.hide-on-mobile-tablet{
    display: none;
}
:root{
    --header-height:70px;
}
.cart-list {
    top:calc(var(--header-height) - 10px);
    width: 100%;
    position: fixed;
    right:0;
}
.cart-list::before{
    display: none;
}
.header-cart{
    width: 74px;
    text-align: right;
}
.header{
    height: var(--header-height);
    position: fixed;
    z-index:10;
    top:0;
    right:0;
    left: 0;
}
.app-container{
    padding-top:calc(var(--header-height) + 10px);
}
.header-cart-list{
    padding:0 calc((100% - 644px)/2)
}
}
/* Tablet */
@media(min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .app-container{
        padding-top:calc(var(--header-height) - 20px);
    }
}
/* Mobile */
@media(max-width:740px){
    .pagination-link{
        font-size: 1.6rem;
        min-width: 29px;
        margin:0 2px;
        height: 28px;
    }
.hide-on-mobile{
    display: none;
}
.header-sort-bar{
    display: flex;
}
.header-with-search{
    justify-content: space-between;
}
.header-cart{
    width:unset;
}
.header-mobile-search{
    padding:0 12px;
}
.header-logo-link{
    line-height: 0;
    display: block;
}
.header-search{
    display: none;
    position: fixed;
    top:calc(var(--header-height) - 10px);
    height: 46px;
    left: 0;
    right: 0;
box-shadow:0 0 0 rgba(0,0,0,0.05) ;
z-index: 1;
padding:0 8px;
animation:Mobilesearchslidein linear 0.3s  ;
}
.search-history{
   position: fixed;
   width:100%;
   top: calc(var(--header-height) + 36px);
   left: 0;
   right:0;
   box-shadow: 0 1p 2px rgba(0,0,0,0.05);
}
.pagination-item{
    margin:0;
}
.app-container{
    padding-left:8px;
    padding-right: 8px;
}
.header-mobile-search{
    display: block;
}
.footer{
    padding:0 16px;
}
.footer-content{
    padding:0 16px;
}
.footer-download,
.footer-heading{
    text-align: center;
}
.footer-item-link{
    justify-content: center;
}
.footer-download{
    flex:unset;
}
.header-cart-wrap{
    padding-right: 20px;
}
.header-card-notice {
    right:0;
}
.icon-shopee-logo{
    width: 110px;
}
.header-with-search {
    height: 60px;
}
@keyframes Mobilesearchslidein {
    from{
        opacity: 0;
        top:calc((var(--header-height) - 10px)/2);
    }
    to{
        opacity: 1;
        top:calc(var(--header-height) - 10px);
    }
}
}